.answer {

    display: none;
}

.show {
    padding: 2rem 4.8rem 2rem 3rem;
    color: #D1D0CF;
    font-size: 1.6rem;
    font-weight: 500;
    border-top: 1px solid #222;
    display: block;
}