$text-color: #fff;
$text-color-active: #e50914; //can use color icon
$main-color: #000;
$border-color: #222;

.spacemtb {
    display: flex;
}

.container {
    padding: 0 1.5rem;
    margin: 0 auto;

}

.signupcard {
    background: $main-color;
    padding: 25px;
    box-shadow: 0px 0 20px 0 rgba(194, 190, 190, 0.5);
    border-radius: 10px;
    width: 46rem;

    .textcenter {

        font-size: 2.2rem;
        font-weight: 600;
        text-align: center;
        color: $text-color;
        margin-bottom: 1.6rem;
    }

    .form {
        font-family: 'Roboto', sans-serif;

        .formgroup {
            display: flex;
            flex-direction: column;
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 1.6rem;

            label {
                color: $text-color;
                margin-bottom: 0.8rem;
            }

            input {
                height: 4.5rem;
                line-height: 4.5rem;
                background: transparent;
                border: 1px solid $text-color;
                font-size: 1.6rem;
                color: $text-color;
                border-radius: 5rem;
                padding-left: 2rem;
                padding-right: 2rem;
                outline: none;

                &:focus {
                    color: #495057;
                    background-color: #fff;
                    border-color: #80bdff;
                    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
                }

            }
        }
    }
}

.info {
    margin-bottom: 1.6rem;

    .checkbox {
        display: flex;
        margin-bottom: 1.6rem;

        input {
            border-radius: 0.25rem;
            width: 1.4rem;
            height: 1.4rem;
            outline: none;
            border: none;
            accent-color: $text-color-active;
            margin: auto 0;
        }

        label {
            cursor: pointer;
            color: $text-color;
            font-size: 1.4rem;
            font-weight: 600;
            margin-left: 0.8rem;

            a {
                margin-left: 0.8rem;
                color: $text-color-active;
                font-size: 1.4rem;
                font-weight: 400;
            }
        }
    }

    button {
        font-size: 1.4rem;
        color: $text-color;
        border-radius: 5rem;
    }
}

.textsignup {
    color: $text-color;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.8rem;

    a {
        text-decoration: none;
        color: $text-color-active;
        margin-left: 0.8rem;
    }
}

.textforgotpw {

    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;

    a {
        text-decoration: none;
        color: $text-color;
        transition: all 0.5s ease-out 0s;

        &:hover {
            color: $text-color-active;
        }
    }
}