$text-color: #fff;
$text-color-active: #e50914; //can use color icon
$main-color: #000;
$border-color: #222;

footer {
    background-color: $main-color;
}

.infomation {
    padding: 4rem 0;

    .colstart {

        .logo {
            width: 19.5rem;
            height: 4.3rem;
        }

        .pleft {
            font-weight: 500;
            font-size: 1.6rem;
            color: $text-color;
            margin: 2.4rem 0 1.6rem;
        }

        .social {
            margin: 2.4rem 0;
            display: flex;

            a {
                text-decoration: none;
                margin-right: 1.2rem;

                &:last-child {
                    margin-right: 0;
                }

                svg {
                    color: $text-color;
                    transition: all 0.4s ease;

                    &:hover {
                        color: $text-color-active;
                    }
                }
            }
        }
    }

    .colcenter {
        .title {
            color: $text-color-active;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: 1.6rem;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 0.4rem;

                a {
                    font-weight: 400;
                    font-size: 1.7rem;
                    color: rgb(255, 255, 255, 0.7);
                    text-decoration: none;
                    transition: all 0.4s ease;

                    &:hover {
                        color: $text-color-active;
                    }
                }
            }
        }
    }

    .colend {
        .title {
            color: $text-color-active;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: 1.6rem;
        }

        p {
            font-weight: 500;
            font-size: 1.6rem;
            color: $text-color;
            margin-bottom: 1.6rem;
        }

        form {
            font-family: 'Roboto', sans-serif;
            margin-top: 2.4rem;

            .formgroup {
                margin-bottom: 1.6rem;

                input {
                    width: 100%;
                    border-radius: 50px;
                    height: 45px;
                    line-height: 45px;
                    background: transparent;
                    border: 1px solid #fff;
                    font-size: 14px;
                    color: #fff;
                    padding-left: 20px;
                    padding-right: 20px;
                    outline: none;

                    &:focus {
                        color: #495057;
                        background-color: #fff;
                        border-color: #80bdff;
                        box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
                    }
                }
            }

            button {
                width: 100%;
                font-size: 1.4rem;
                color: $text-color;
                border-radius: 5rem;
                padding: 0.9rem 3rem;
            }
        }
    }
}

.footerend {
    border-top: 2px dashed $border-color;
    display: flex;

    p {
        margin: auto;
        padding-top: 4rem;
        color: $text-color;
        font-size: 1.5rem;
        font-weight: 400;
    }
}

//responsive 
@media only screen and (min-width: 780px) and (max-width: 1024px) {
    .colend {
        margin-bottom: 1.6rem;
    }
}

@media only screen and (min-width: 440px) and (max-width: 779px) {
    .colend {
        margin-bottom: 1.6rem;
    }
}