@media only screen and (min-width: 780px) and (max-width: 1024px) {
    .typePricingResponsive {
        font-size: 1rem !important;
        padding-left: 2px !important;
    }
}

@media only screen and (min-width: 440px) and (max-width: 779px) {
    .typePricingResponsive {
        font-size: 1rem !important;
        padding-left: 2px !important;
    }
}